@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 1.5em;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(251,126,55);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size:
  }
  
  #myBtn:hover {
    background-color: #555;
  }

a {
    text-decoration: none;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 3.3rem;
}

.subhead {
    font-size: 3rem;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/header.png');
    background-size: cover; 
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.hero-logo {
    position: absolute;
    top: 10em;
    right: 0;
}

.shop-logo {
    position: absolute;
    right: 0;
}

.logo {
    color: white;
    font-weight: bold;

    span {
        color: rgb(251,126,55);
    }
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: white;
    width: 40%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: rgb(211, 208, 208)
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2.5em;

    }
}

header {
    display: flex; 
    justify-content: space-between;
    
    svg {
        width: 2.3em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

section.hero {
    color: white;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
    
    .down-arrow {
        stroke: white;
        position: absolute;
        bottom: 5em;
        width: 1em;
        animation: moveArrow 1s alternate-reverse infinite;

        path{
            fill: white;
        }
    }    
}

section.about-us {

    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .desc {
        line-height: 1.5rem;
    }
}

section.teams {

    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .desc {
        line-height: 1.5rem;
    }
}

section.shop {

    color: white;

    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .desc {
        line-height: 1.5rem;
    }
}

.shop-img {
    position: absolute;
    left: 0;
    background: url('../images/header.png');
    background-size: cover; 
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.open-nav {
    transform: translateX(0);
}

@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
    }

}

@media only screen and (min-width: 920px) {

    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close {
            display: none;
        }

        ul {
            display: flex;
            margin: 0;

            a {
                color: white;
                padding: .5em 1.5em;
                font-size: 1.2rem;

                &:hover {
                    background: none;
                    text-decoration: none;
                }
            }
        }
    }

    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 100%;
        animation: introLoad 2s forwards;
    }

    .logo {
        color: black;

        span {
            color: rgb(251,126,55);
        }
    }

    section.hero {
        color: black;
        height: 100vh;
        width: 40%;

        svg.down-arrow {
            stroke: black;
            position: unset;

            path {
                fill: black;
            }
        }
    }

    .feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 3em;
        margin-bottom: 5em;

        img {
            width: 25em;
        }

        .content {
            text-align: right;
            width: 30em;
        }
    }

    .feature.left {
        grid-template-areas: 
            "left right";

        img {
            grid-area: left;
        }

        .content {
            text-align: left;
            width: 30em;
            justify-self: right;
        }
    }

    .teams-feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2em;
        margin-bottom: 3em;

        img {
            width: 25em;
        }

        .content {
            text-align: right;
            width: 15em;
        }
    }
    
    .shop-feature {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2em;
        margin-bottom: 3em;

        img {
            width: 25em;
        }

        .content {
            text-align: right;
            width: 25em;
        }
    }
}

@media only screen and (min-width: 1200px) {

    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .feature {
        gap: 0;
    }
}

@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 69% 100%);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes shopLoad {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

